<p>sellerauth works!</p>
<div class="container col-sm-10 col-md-8 col-lg-8 bg-white d-flex justify-content-center">
    

    <form action="" class="shadow p-3 mb-5 bg-light rounded col-sm-10 col-md-6 col-lg-10 ">
    <div class="row  d-flex justify-content-center">
        <div class="col-lg-7 col-md-8 col-sm-10">
            <h2 class="text-info mt-5"> Seller Login/Register</h2>

            <label for="" class="form-label mt-4">User Name</label>
            <input type="text" class="form-control col-8">
        </div><br>
        <div class="mt-2 col-lg-7 col-md-8 col-sm-10">

            <label for="" class="form-label mt-3">Password </label>
            <input type="text" class="form-control col-8">
        </div>

        <div class="mt-4 col-lg-7 col-md-8 col-sm-10 ">
            <div class="row col-12">
                <a href="" class="col-4 text-danger ">Forgot PWD?</a> &nbsp;
                <a href="" class="col-6 "> New Registration</a>
            </div>
        </div>
        
    </div>

        

</form>


</div>